
body{
    margin-top: 0px;
    margin-left: 0px;
}
header{
    width: 100vw;
    height: 10vh;
    background-color: purple;
}
.Lorem1{
    display:flex;
    flex-direction: column-reverse;
    padding: 50px;
}
.right{
    display: flex;
    justify-content: center;
}
.left{
    display: flex;
    flex-direction: column;
}
.big-lorhead{
    font-size: 3.5rem;
    margin-bottom: 20px;
    font-weight: bold;
}
.big-lor{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.lor{
    font-size: 1.1rem;
    color: grey;
}
.image{
    width: 50vw;
}

@media only screen and (min-width: 992px){
    .image{
        width: 20vw;
    }
    .Lorem1{
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    .big-lorhead{
        font-size: 3rem;
    }
    .left{
        max-width: 500px;
    }
    .right{
        margin-left: 40px;
        margin-right: 40px;
    }
    .big-lor{
        font-size: 1.1rem;
    }
    .lor{
        font-size: 0.9rem;
        color: grey;
    }
}